<ul class="spec-reminder-item">
  {{#each model as |reminder|}}
    {{single-reminder reminder=reminder }}
  {{/each}}
  {{#link-to 'reminders.new'}}
    <button> Add Reminder </button>
  {{/link-to}}
</ul>

{{outlet}}
