<ul class="spec-reminder-item">
  {{#each model as |reminder|}}
    <article>
      <h2>
        {{#link-to 'reminders.reminder' reminder}}
          {{reminder.title}}
        {{/link-to}}</h2>
        <p>{{reminder.date}}</p>
    </article>
  {{/each}}
  {{#link-to 'reminders.new'}}
    <button> Add Reminder </button>
  {{/link-to}}
</ul>


<!-- {{add-reminder}} -->


{{outlet}}
